.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}

.card {
  width: 100%;
  height: 180px;
  padding: 12px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > h1 {
    color: #2c3a47;
    font-family: "Chewy", system-ui;
    font-size: 16px;
    font-weight: 400;
  }

  > p {
    color: #2c3a47;
    font-family: "Fredoka", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }

  @media screen and (min-width: 768px) {
    width: 250px;
    height: 150px;
  }
}
